.main {
  min-height: 100vh;
  /*padding: 4rem 0;*/
  /*flex: 1;*/
  /*display: flex;
  /*flex-direction: column;
  justify-content: center;
  align-items: center;*/
}

.userForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usersList {
  min-width: 200px;
}

.game {
  flex: 1;
  display: flex;
  justify-content: center;
}